.bundlesListWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 375px);

  .actions {
    padding-top: 20px;
  }

  .list {
    flex-grow: 1;
  }

  .loaderContainer {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
